/* COMMON.SCSS - Version: 0.2.0 */

/* Table of Contents
--------------------------------------------------------------
	/* BOOTSTRAP
	/* VARIABLES
	/* FOOTER AT THE BOTTOM
	/* MIXINS
*/


/* BOOTSTRAP
-------------------------------------------------------------- */

$lg: 1200px;
$md: 992px;
$sm: 768px;

.hl_col-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.hl_col-no-padding-left {
    padding-left: 0 !important;
}
.hl_col-no-padding-right {
    padding-right: 0 !important;
}

.hl_row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}


/* VARIABLES
-------------------------------------------------------------- */

/* DEFINIRE VARIABILE "$hl_footerHeight", "$hl_footerHeight-md", "$hl_footerHeight-sm", "$hl_footerHeight-xs", IN "layout.scss" */


/* FOOTER AT THE BOTTOM
-------------------------------------------------------------- */

#hl_Wrapper {
	min-height: 100%;
	margin-bottom: -$hl_footerHeight;
}
#hl_Wrapper:after{
	content:"";
	display: block;
}
#hl_footer, #hl_Wrapper:after{
	height: $hl_footerHeight;
}

@media (min-width: $md) and (max-width: $lg - 1) {
	#hl_Wrapper {
		margin-bottom: -$hl_footerHeight-md;
	}
	
	#hl_footer, #hl_Wrapper:after{
		height: $hl_footerHeight-md;
	}
}
@media (min-width: $sm - 1) and (max-width: $md - 1) {
	#hl_Wrapper {
		margin-bottom: -$hl_footerHeight-sm;
	}
	
	#hl_footer, #hl_Wrapper:after{
		height: $hl_footerHeight-sm;
	}
}
@media (max-width: $sm - 1) {
	#hl_Wrapper {
		min-height: auto;
		margin-bottom: -$hl_footerHeight-xs;
	}
	
	#hl_footer, #hl_Wrapper:after{
		height: $hl_footerHeight-xs;
	}
	.hl_col-no-padding-xs {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.hl_col-no-padding-left-xs {
		padding-left: 0 !important;
	}
	.hl_col-no-padding-right-xs {
		padding-right: 0 !important;
	}
}


/* MIXINS
-------------------------------------------------------------- */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin border-radius4($tl,$tr,$br,$bl) {
  -webkit-border-radius: $tl $tr $br $bl;
     -moz-border-radius: $tl $tr $br $bl;
      -ms-border-radius: $tl $tr $br $bl;
          border-radius: $tl $tr $br $bl;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

/*@mixin transition($transition){
	-webkit-transition: $transition;
	   -moz-transition: $transition;
	    -ms-transition: $transition;
	        transition: $transition;
}*/